.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.note {
  width: 240px;
  background-color: #ffd;
  padding: 1em;
  margin: 1em;
  text-align: center;
  overflow-wrap: break-word;
  box-shadow: 5px 5px 5px grey;
}

.title {
  max-width: 100%;
  background-color: #ffd;
  border: none;
  text-align: center;
}

.content {
  max-width: 100%;
  background-color: #ffd;
  border: none;
  text-align: center;
}