body {
  background-image: url("https://cdn.hipwallpaper.com/i/11/8/P2QVC1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.heading, .search{
  text-align: center;
  color: white;
  font-size: 1.2em
}

input, textarea {
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.note {
  width: 255px;
  background-color: #fdff8a;
  padding:0.5em;
  margin: 0.5em;
  text-align: center;
  overflow-wrap: break-word;
  box-shadow: 5px 5px 5px grey;
  font-family: 'Caveat', cursive;
  font-size: 1.2rem
}

.title, .content {
  max-width: 100%;
  background-color: #fdff8a;
  border: none;
}

.btn {
  margin: 1px 5px ;
}

#addStickyNote {
  margin: 15px;
}